{"swagger":"2.0","info":{"description":"### Welcome to the Chainstamp API.\n\nBelow you'll find the API operations needed to create and verify Chainstamp proofs (blockchain timestamps of your digital files). Using the blockchain to timestamp your data can prove it existed at that point in time and has not been altered since. \n\nThis release contains only our free APIs. No registration needed. See [chainstamp.io](https://chainstamp.io) for other services with faster confirmation times.\n\n## Hashing\nSome of the operations shown below require a \"hash\" or a kind of digital fingerprint of your data. Hashes in Chainstamp APIs are allways sha256 based hashes and can be computed using standard tools like \"shasum\" (```shasum -a 256 myfile.txt```),  \"CertUtil\" (```CertUtil -hashfile C:\\TEMP\\MyDataFile.img SHA256 ```) or by computing hashes directly in the programing language of your choice.\n\n## Backup your files\n\nA blockchain timestamp like the Chainstamp proof is only useful if you have an unaltered copy of your original digital file to check it against. We recommend keeping a separate directory (perhaps in the cloud) of all your timestamped files.\n\n##Examples \n\n### Create example\n\n>Create a chainstamp proof (blockchain timestmap) for demoTape.mp3 :\n\n```\nhashed=($(shasum -a 256 demoTape.mp3))\n\ncurl -X POST https://api.chainstamp.io:8443/stamp/basic/ \\\n  -H 'Content-Type: application/json'  \\\n   -d '{\"originalHashes\":[\"'\"$hashed\"'\"], \"emailToNotify\":\"paul@chainstamp.io\"}' \n```\n\nSee the example to the right. First a hash of the file \"demoTape.mp3\" is created. Then this hash is passed to the api using the curl POST command. Note here a variable is passed (\"hashed\") to the curl command. You can also just use the raw data like \"originalHashes\":[\"b1e1dd094de9284f5f590f91923aaca85308b4883479a830b71e5fe962f7a259\"] there. \n\nFor multiple hashes, separate with a comma. Limit of 3 for the free version.\n\n### Verify example\n\n>Verify a file using its hash :\n\n```\ncurl -X GET \\\n  https://api.chainstamp.io:8443/verify/item/b1e1dd094de9284f5f590f91923aaca85308b4883479a830b71e5fe962f7a259 \n```\n\nSee the example to the right. \n\nRun this and you'll get an output indicates that the file used to create that hash (\"b1e1dd09...\"), was part of a chainstamp proof that is in block 523,051 which entered the blockchain at a time of 1526521962000 or 05/17/2018 @ 1:52:42am (UTC)\n\n### Proof file\n\n>Retrieve the proof file :\n\n```\ncurl -X GET https://api.chainstamp.io:8443/proof/7a4d4273b80ca56894a326fde7803886802ce116044063e801280eec43fd4678 > demoTape.proof\n```\n\nFrom the **output** produced in the verify example above, copy the seedHash value and use it to retrieve the proof file. As shown on the right. \n\nIf you hash the proof file itself (shasum -a 256 demoTape.proof) you'll get the seedHash value back. More importantly you'll see the original hash value from the demoTape.mp3 \"b1e1dd094de9284f5f590f91923aaca85308b4883479a830b71e5fe962f7a259\" also appears in the proof file.\n\nLookup the [transaction](https://www.blockchain.com/btc/tx/3b4faa182aafb16e0cce0046a87f1b676a35b575e39ad29026d6c89d7214cbec) (see the verify output again) and see the seedHash value of 7a4d4273b80ca56894a326fde7803886802ce116044063e801280eec43fd4678 appears in one of the tx Outputs.\n\nMore info on proof files [here](https://chainstamp.io/faq.html#proofFile).\n\n## General Info","version":"Version 1.1","title":"Chainstamp REST API","termsOfService":"https://chainstamp.io/terms.html","contact":{"name":"Chainstamp","url":"https://chainstamp.io","email":"contact@chainstamp.io"}},"host":"api.chainstamp.io:8443","basePath":"/","tags":[{"name":"stamp-controller","description":"Stamp Controller"}],"schemes":["https"],"paths":{"/proof/{seedHash}":{"get":{"tags":["Verify"],"summary":"Get a proof file using a seed hash","description":"The proof file is your way to validate a Chainstamp proof independently. This method will return a plain text list of sha256 list of hashes which can be saved as a text file. The hashes in that file correspond to hashes of files submitted to us and hashed together to create a 'seedHash' which is submitted to the bitcoin blockchain in a transaction output.","operationId":"get-proof-file","produces":["*/*"],"parameters":[{"name":"seedHash","in":"path","description":"The sha256 hash of your proof file.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ErrorWrapper"}}}}},"/stamp/basic":{"post":{"tags":["Create"],"summary":"Create a free chainstamp proof.","description":"Use this operation to create a blockchain timestamp (Chainstamp proof) for any digital documents. This api is free and will be submittd to the bitcoin network within 24hrs. Our paid apis (comming soon) ,and our web interface, allow for faster or immediate submission.<br/><br/>Limits: Free version allows only up to 3 file hashes in 'originalHashes' array.","operationId":"stamp-basic","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"basicRequest","description":"basicRequest","required":true,"schema":{"$ref":"#/definitions/StampBasicRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OpenResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Error","schema":{"$ref":"#/definitions/ErrorWrapper"}}}}},"/verify/item/{itemHash}":{"get":{"tags":["Verify"],"summary":"Verify status of a file (item)","description":"Use this endpoint with the hash of a digitial file to check its status. Pass the sha256 hash of any digital file as the {itemHash}.","operationId":"verify-item","produces":["application/json"],"parameters":[{"name":"itemHash","in":"path","description":"The sha256 hash of a file you submitted for a chainstamp proof.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VerifyItemStatus"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ErrorWrapper"}}}}},"/verify/stamp/{stampId}/{stampHash}":{"get":{"tags":["Verify"],"summary":"Verify status","description":"Verify status using a stampId and a stampHash. Use this method to check the status of a Chainstamp proof. If the stampId or stampHash is unknown, use the /verify/item/{itemHash} endpoint instead.","operationId":"verify-stamp","produces":["application/json"],"parameters":[{"name":"stampId","in":"path","description":"The stampId returned from the OpenResponse object.","required":false,"type":"integer","format":"int64"},{"name":"stampHash","in":"path","description":"The sha256 hash of the originalHashes returned in the OpenResponse object.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VerifyStatus"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ErrorWrapper"}}}}}},"definitions":{"ErrorWrapper":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"path":{"type":"string"},"status":{"type":"integer","format":"int32"},"title":{"type":"string"}},"title":"ErrorWrapper"},"OpenResponse":{"type":"object","properties":{"expectedSubmissionTime":{"type":"integer","format":"int64"},"originalHashes":{"type":"array","items":{"type":"string"}},"paymentAddress":{"type":"string"},"paymentAmtBtc":{"type":"number","format":"double"},"paymentId":{"type":"integer","format":"int64"},"seedHash":{"type":"string"},"seedId":{"type":"integer","format":"int64"},"stampHash":{"type":"string"},"stampId":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"transactionId":{"type":"string"}},"title":"OpenResponse"},"StampBasicRequest":{"type":"object","properties":{"emailToNotify":{"type":"string","description":"An optional email we will notify when your Chainstamp proof confirms in the blockchain.","allowEmptyValue":true},"originalHashes":{"type":"array","description":"An array of sha256 hashes","allowEmptyValue":false,"items":{"type":"string"}}},"title":"StampBasicRequest"},"VerifyItemStatus":{"type":"object","properties":{"blockHash":{"type":"string"},"blockNumber":{"type":"integer","format":"int32"},"blockTime":{"type":"string","format":"date-time"},"confirmations":{"type":"integer","format":"int32"},"expectedSubmissionTime":{"type":"integer","format":"int64","description":"Time in milliseconds till blockchain submission.","allowEmptyValue":false},"seedHash":{"type":"string"},"status":{"type":"integer","format":"int32"},"txId":{"type":"string"},"txTime":{"type":"string","format":"date-time"}},"title":"VerifyItemStatus"},"VerifyStatus":{"type":"object","properties":{"blockHash":{"type":"string"},"blockNumber":{"type":"integer","format":"int32"},"blockTime":{"type":"string","format":"date-time"},"confirmations":{"type":"integer","format":"int32"},"expectedSubmissionTime":{"type":"integer","format":"int64","description":"Time in milliseconds till blockchain submission.","allowEmptyValue":false},"paid":{"type":"boolean","example":false,"description":"Indicates if we've received payment (ignore for Free/BASIC levels)","allowEmptyValue":false},"paymentLevel":{"type":"string","description":"The payment level made. One of \"BASIC\", \"SIMPLE\", \"PRO\"","allowEmptyValue":false},"seedHash":{"type":"string"},"status":{"type":"integer","format":"int32"},"txId":{"type":"string"},"txTime":{"type":"string","format":"date-time"}},"title":"VerifyStatus"}}}